torch==2.6.0
elapid==1.0.1
earthengine-api==1.5.8
matplotlib==3.10.1
geopandas==1.0.1
networkx==3.4.2
numpy==2.2.4
pandas==2.2.3
pillow==11.1.0
schedulefree==1.4.1
scikit-learn==1.7.1
scipy==1.15.2
seaborn==0.13.2
torcheval==0.0.7
tqdm==4.67.1
verde==1.8.1
wandb==0.19.8